#container {
  margin-top: 50px;
  /* background-color: #F1F1F1F1; */
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  font-family: "Raleway";
}

#holding-container,
#system-container{
  margin-top: 50px;
}

.container {
  background-position: center;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  max-width: 100%;
  background-image: url('/assets/img/transportation.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-container {
  width: 700px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
  justify-content: center; 
} 


.button-left,
.button-right {
  width: 300px;
  height: 200px;
}

.button-left  p,
.button-right p{
  color:black;
  font-size: 36px;
  font-family: "Raleway";

}



@media screen and (max-width: 375px) {
  .card-container {
    width: 350px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

@media screen and (max-width: 425px) {
  .card-container {
    width: 350px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
